.comment {
    text-align: left;
    padding: 0 1rem;
    margin: 1rem 0;
}
.comment * {
    margin: 0;
    padding: 0;
}
.comment .comment-author {
    font-style: italic;
    text-decoration: none;
    color: #FFF;
}
.comment .comment-message {
    padding-left: 1rem;
}
.comment input[type=button] {
    margin: 0 0.5rem;
    padding: 0 0.5rem;
}