/* NewPost */
.difficulty-picker {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.difficulty-picker label {
    border: 0.1rem solid var(--color-fg-secondary);
    padding: 0.25rem 0.5rem;
    cursor: pointer;
}
.difficulty-picker .difficulty-radio {
    visibility: hidden;
    position: absolute;
    z-index: -1;
}
.difficulty-picker input:checked + label {
    font-weight: bolder;
    text-decoration: underline;
    border: 0.125rem solid var(--color-fg-main);
}

/* ToolAdder */
.tools-adder .tools-list {
    display: flex;
    flex-wrap: wrap;
    /* Limit list length to wrap */
    justify-content: space-between;
    gap: 0.5rem;
}
.tools-adder .tools-list .tool {
    border: 0.1rem solid var(--color-fg-secondary);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.tools-adder .new-tool {
    border: 0.1rem solid var(--color-fg-secondary);
    display: flex;
    align-items: center;
    gap: 0.7rem;
    margin-top: 0.75rem;
    padding: 0.5rem;
}
.tools-adder .tools-list input, .tools-adder .new-tool input  {
    margin: 0;
    box-shadow: none;
}
.tools-adder input[type=button] {
    width: max-content;
    padding: 0 0.55rem;
    border: 0.125rem solid var(--color-fg-secondary);
}

#upload-file {
    height: auto;
    padding: 0.5rem;
}