body {
    margin: 0;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    align-items: center;
}

main {
    height: 95vh;
    width: 100%;
    max-width: 800px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

header {
    height: 5vh;
}

fieldset {
    display: flex;
    flex-direction: column;
    align-items: start;
}

button {
    display: flex;
    align-items: center;
}