body {
    margin: 0;
    color: var(--fg-main);
    background-color: var(--bg-main);
}

#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-height: 100dvh;
    overflow: hidden;
    align-items: center;
}

main {
    width: 100%;
    max-width: 800px;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    overflow: hidden;
    overflow-y: auto;
}

fieldset {
    display: flex;
    flex-direction: column;
    align-items: start;
    border: 0.1rem solid var(--bg-secondary);
    border-radius: var(--rounded-borders);
}
input, select, textarea {
    color: var(--fg-main);
    background-color: var(--bg-transparent);
    border: 0.1rem solid var(--bg-secondary);
    border-radius: var(--rounded-borders); 
    box-shadow: inset 0 0 0.35rem var(--bg-dark);
}
button, input[type=button], .button {
    text-decoration: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: var(--bg-dark);
    color: var(--fg-main);
    border: 0.125rem solid var(--bg-main);
    box-shadow: 0rem 0rem 0.35rem var(--bg-dark), 0.175rem 0.175rem 0rem var(--bg-dark);
    padding: 0.15rem 0.5rem;
    border-radius: var(--rounded-borders);
}

button:hover, input[type=button]:hover, .button:hover {
    scale: 1.05;
    background-color: var(--bg-transparent);
    /* background-color: var(--bg-dark); */
}
button:active, input[type=button]:active, .button:active {
    scale: 0.9;
}
p {
    margin: 0.25rem 0;
}
a {
    cursor: pointer;
}
a:visited {
    color: var(--fg-main);
}
fieldset button[type=submit] {
    margin: 0.5rem 0;
}