.user-session {
    display: flex;
    align-items: center;
    position: relative;
}
.user-icon {
    display: grid;
    background-color: #1ad;
    border: 0.1rem solid #FFF;
    text-align: center;
    align-items: center;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}
.user-auth a {
    padding: 0.25rem 0;
    margin: 0.25rem;
    border-bottom: 0.2rem white double;
}