.post {
    background-color: var(--color-bg-main);
    padding: 0.25rem 0.75rem;
    margin: 2rem 1rem;
}

.post div {
    display: flex;
    margin: 0.75rem 0;
    justify-content: space-between;
}
.post .post-tools {
    border: 0.1rem solid var(--color-bg-secondary);
    padding: 0 1rem;
    width: 85%;
    margin-inline: auto;
}

.post-images {
    display: flex;
    gap: 1em;
}

.post-images img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.post .post-rating {
    display: block;
    width: min-content;
}

.post-head {
    display: flex;
    gap: 1em;
}