.post {
    background-color: var(--color-bg-main);
    padding: 0.25rem 0.75rem;
    margin: 2rem 1rem;
}

.post div {
    display: flex;
    margin: 0.75rem 0;
    justify-content: space-between;
}
.post .post-tools {
    border: 0.1rem solid var(--color-bg-secondary);
    padding: 0 1rem;
    width: 85%;
    margin-inline: auto;
}
.post .image {
    display: block;
    width: 100%;
    background-color: var(--color-bg-secondary);
}
.post .post-rating {
    display: block;
}