.post {
    background-color: var(--bg-transparent);
    border: 0.1rem solid var(--bg-secondary);
    box-shadow: 0 0 1.25rem var(--bg-dark);
    
    border-radius: var(--rounded-borders);
    padding: 0.25rem 0.75rem;
    margin-top: 1rem;
    margin-bottom: 3.25rem;
}
.post .post-title {
    text-align: center;
}

.post div {
    display: flex;
    margin: 0.75rem 0;
    justify-content: space-evenly;
    gap: 0 1rem;
    flex-wrap: wrap;
    border-radius: var(--rounded-borders);
}
.post .post-tools {
    border: 0.1rem solid var(--bg-secondary);
    padding: 0 0.5rem;
    max-width: 85%;
    margin-inline: auto;
    flex-wrap: wrap;
    align-items: center;
}
.post .post-contents {
    flex-wrap: wrap;
    position: relative;
    flex-direction: row;
}
.post .post-contents .message-rating {
    flex: 4;
}

.post .post-message {
    flex: 1;
    width: fit-content;
    /* max-width: 20%; */
    min-width: 250px;
}

.post .post-rating {
    display: flex;
    flex-direction: column;
    height: max-content;
    gap: 0.35rem;
}
.post .post-rating button {
    justify-content: space-around;
}
.post .post-rating .post-votes {
    font-size: large;
    margin-left: 0.5rem;
}
.post .post-rating .blue-thumb {
    color: #2335D9;
    /* color: var(--bg-secondary); */
}

.post .post-head {
    align-items: baseline;
    justify-content: space-between;
}
.post-head a {
    color: var(--fg-main);
}
.post .post-buttons {
    justify-content: space-between;
}