.post {
    background-color: var(--bg-transparent);
    border: 0.1rem solid var(--bg-secondary);
    box-shadow: 0 0 1.25rem var(--bg-dark);
    
    border-radius: var(--rounded-borders);
    padding: 0.25rem 0.75rem;
    margin-top: 1rem;
    margin-bottom: 3.25rem;
}
.post .post-title {
    text-align: center;
}

.post div {
    display: flex;
    margin: 0.75rem 0;
    justify-content: space-between;
    gap: 0 0.5rem;
    flex-wrap: wrap;
    border-radius: var(--rounded-borders);
}
.post .post-tools {
    border: 0.1rem solid var(--bg-secondary);
    padding: 0 0.5rem;
    max-width: 85%;
    margin-inline: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.post-images {
    display: flex;
    gap: 1em;
}

.post-images img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.post .post-rating {
    display: block;
    width: min-content;
}

.post-head {
    display: flex;
    align-items: baseline;
}
.post-head a {
    color: var(--fg-main);
}